<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dreamline91.naver.com.checker">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.REORDER_TASKS"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".play.PlayActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".functionality.manage.ManageActivity"/>
        <activity android:name=".functionality.manage.MListActivity"/>
        <activity
            android:name=".functionality.lock.LockActivity"
            android:label="Locker"
            android:theme="@style/Theme.Transparent"
            android:launchMode="singleTask"
            android:clearTaskOnLaunch="true"
            android:excludeFromRecents="true"
            android:taskAffinity="">
        </activity>
        <activity android:name=".functionality.lock.dialog.RandomAddDialog"
            android:theme="@style/Base.Theme.AppCompat.Dialog"/>

        <receiver
            android:name=".util.receiver.BootReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter >
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name=".util.receiver.LockReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter >
                <action android:name="android.intent.action.SCREEN_OFF"/>
            </intent-filter>
        </receiver>
        <service android:name=".util.service.LockService"/>
        <service
            android:name=".util.service.KaKaoService"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE" >
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>
    </application>

</manifest>