<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.naver.dreamline91.keeper">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".startup.StartUp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:name=".service.KeepingService"
            android:enabled="true"
            android:exported="true"></service>
        <activity
            android:name=".filter.FilterSwitch"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <receiver
            android:name=".receiver.KeepReceiver"
            android:enabled="true"
            android:exported="true" />
        <activity
            android:name=".Keeper"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:taskAffinity=":Keeper" />
        <activity
            android:name=".color.ColorLoader"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:taskAffinity=":ColorLoader"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
    </application>

</manifest>